<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <connectionStrings>
    <add name="test" connectionString="Data Source=xx.xx.xx.xx;Initial Catalog=xxx;Persist Security Info=True;User ID=xxxx;Password=123456;MultipleActiveResultSets=true;Pooling=true;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>